@font-face {
    /* font-family: 'Nunito', Arial, sans-serif; */
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    /*NOTE:  pour compenser la largeur du padding des 2 cotés*/

    margin: 0;

    color: #000;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-direction: row;
}

/*  <--- VOLET LATERAL --- */

aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    width: 380px;
    padding: 30px;

    text-align: center;

    background-color: #f09b5b;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*NOTE:  Photo ronde  */
.photo {
    border-radius: 50%;
}

.identite {
    font-size: 27px;

    text-align: center;

    color: white;
}

.linkedin {
    margin-top: 25px;
}

.linkedin {
    font-size: 19px;
}


.identite a:link,
.identite a:visited {
    text-decoration: none;

    color: white;
}

/*NOTE: Affichage des icones en mode Desktop */
.mail-mob,
.linkedin-mob {
    display: none;
}

.mail,
.linkedin {
    display: block;
}

.contact-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.intro {
    margin-top: 30px;
    padding: 15px;

    text-align: justify;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .35);

    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.intro p {
    font-size: 16px;
    /* supprime les espaces top et bottom par défaut du <p> */

    display: inline;
}

/*  <------  LOISIRS  --- */

.loisirs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    /* HACK */

    margin: 0 -5px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.loisirs-mob {
    display: block;
    background-color: #f09b5b;
    width: calc(100% + 30px)
}

.loisirs-desktop {
    display: none;
}

.titre-loisirs {
    background-color: #000;
    color: #f09b5b;
    padding: 10px 0 10px 0;
    margin: 40px 0 20px 0;
    font-size: 22px;
    text-align: center;
}

.hobby {
    /* HACK */
    margin: 0 5px;
    margin-bottom: 20px;

}

.hobby img {
    height: auto;
    width: 70px;
    border: 2px solid white;
}

.hobby-name {
    margin-top: 4px;

    text-align: center;
}

/*NOTE: affichage masquage Loisir Mobile ou desktop*/
.loisirs-mob {
    display: none;
}

.loisirs-desktop {
    display: block;
}

/*  >------  LOISIRS  --- */

/* >------ VOLET LATERAL  ------ */

/* <------ HEADER ------ */

/* NOTE: Header version mobile placé avant la photo*/
.header-mobile {
    display: none;
}

.header-mobile h2 {
    font-size: 35px;

    margin-bottom: 15px;
}

h2 {
    margin: 0;
}

.title {
    margin-left: 100px;
}

header h2 {
    font-size: 60px;
}

.name {
    color: #f09b5b;
}


.job {
    font-weight: 300;
}

.name-mob {
    font-size: 28px;

    margin-bottom: 8px;

    color: white;
}

.job-mob {
    font-size: 28px;
    font-weight: 300;
}


.separateur {
    width: 540px;
    height: 3px;
    margin: 50px 0 50px 100px;

    background-color: #f1a65b;
}

/* >------ HEADER ------ */

/* <------ MAIN --- */

main {
    margin: 30px;
}

/*NOTE: espaces entre articles*/
article {
    margin-bottom: 50px;
}

article h4 {
    margin: 0;
}

.filet-horizontal {
    position: absolute;
    top: 9px;
    left: -20px;

    width: 15px;
    height: 3px;

    background-color: #9c9c9c;
}

#experience,
#formations,
#recommandations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    margin-left: 100px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

/*  <------  XP / FORMATIONS  --- */

.title-article {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
}

.title-article h3 {
    font-size: 35px;
    font-weight: 300;

    margin: 15px 0 30px 0;

    color: #000;
}

.picto {
    position: absolute;
    top: 15px;
    left: -75px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 60px;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.cercle {
    position: absolute;
    z-index: 1;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    background-color: #f09b5b;
}

/* NOTE: Picto Font Awesome toujours au dessus du cercle*/
.fa {
    z-index: 2;

    color: white;
}

/*NOTE:  Pictos > alternative avec fichiers images svg*/
.picto img {
    position: relative;
    z-index: 2;

    width: 40px;
    height: 40px;
}

section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
}

.year {
    position: absolute;
    left: -63px;

    color: black;
}

/* NOTE: met le "2004 2020" sur 2 lignes (width)*/
#formations section:nth-child(3) .year {
    width: 50px;
}

.poste,
.diplome {
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 23px;

    color: #f09b5b;
}

.diplome strong {
    font-weight: 700;
}

.groupe-ypt {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.time {
    position: relative;
    bottom: 3px;

    display: inline;

    margin-left: 15px;
    padding: 4px 8px 4px 8px;

    color: black;
    border-radius: 13px;
    background-color: #f09b5b;

    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.compagny,
.school {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}

.city {
    font-size: 18px;
    font-weight: 300;
}

.tasks {
    font-size: 15px;
    line-height: 20px;

    margin: 10px 0 15px 0;

    text-align: justify;

    color: #9c9c9c;
}

/*  >------  XP / FORMATIONS  --- */

/*  <------  RECOMMANDATIONS  --- */

.recos {
    font-size: 18px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.reco1 {
    margin-right: 90px;
    margin-bottom: 30px;
}

/* >------ MAIN --- */

/* <------  MEDIA QUERIES ----*/

/* Destop */

@media all and (min-width: 1024px) {
    .filet-vertical {
        display: block;
    }

    .identite a:hover {
        -webkit-transition: background .5s ease;
        transition: background .5s ease;

        border-radius: 6px;
        background-color: #1182a2;
    }

    /*NOTE: Hover off */
    .identite a {
        -webkit-transition: background .5s ease;
        transition: background .5s ease;

        background-color: transparent;
    }

    aside img {
        width: 250px;
    }

    header h2 {
        font-size: 60px;
    }

    .mail-mob,
    .linkedin-mob {
        display: none;
    }

    .mail,
    .linkedin {
        display: block;
    }

    .intro p {
        font-size: 16px;
    }

    .picto {
        display: inherit;
    }
}

/* Tablette */

@media all and (max-width: 1024px) {
    .intro p {
        font-size: 16px;
    }


    aside {
        width: 300px;
        padding: 20px;
    }

    aside img {
        width: 200px;
    }


    .identite {
        font-size: 22px;
    }

    .identite p:last-child {
        font-size: 15px;
    }

    header h2 {
        font-size: 50px;
    }

    text main {
        margin: 20px;
    }

    .year {
        left: -63px;
    }

    .loisirs-mob {
        display: none;
    }

    .loisirs-desktop {
        display: block;
    }
}

/* Mobile */

@media all and (max-width: 480px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
    }

    .header-mobile {
        display: block;

        margin-bottom: 35px;
    }

    .filet-vertical {
        display: none;
    }

    .filet-horizontal {
        display: none;
    }

    aside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        width: calc(100% - 30px);
        padding: 30px;

        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .identite {
        font-size: 30px;
    }

    .mail-mob,
    .linkedin-mob {
        display: block;
    }

    .mail,
    .linkedin {
        display: none;
    }

    .intro p {
        font-size: 18px;
    }

    header {
        display: none;
    }

    main {
        margin: 5px;
    }

    .title-article h3 {
        font-size: 30px;
    }

    .picto {
        display: none;
    }

    .year {
        left: -50px;
    }

    #experience,
    #formations,
    #recommandations {
        margin-left: 60px;
    }

    .loisirs-mob {
        display: block;
    }

    .loisirs-desktop {
        display: none;
    }

    .titre-loisirs {
        margin: 0px 0 20px 0;
    }

    .loisirs {
        margin: 0 40px 0 40px;
    }
}
