@font-face {
    /* font-family: 'Nunito', Arial, sans-serif; */
    font-family: 'Roboto', 'Arial', sans-serif;
}

body {
    /*NOTE:  pour compenser la largeur du padding des 2 cotés*/
    width: calc(100% - 60px);
    margin: 0;
    font-family: "Roboto", serif;
    font-style: normal;
    font-weight: 400;
    color: black;
    display: flex;
    flex-direction: row;
}

/*  <--- VOLET LATERAL --- */

aside {
    background: -webkit-gradient(linear, left top, left bottom, from(#F1A75A), to(#F0775F));
    background: linear-gradient(180deg, #F1A75A 0%, #F0775F 100%);
    width: 380px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    /* DEBUG  Masque la barre latérale  */
    /*    display: none;*/
}

aside img {
    border-radius: 50%;
}

.identite {
    color: white;
    text-align: center;
    font-size: 27px;
}

.identite p:last-child {
    font-size: 19px;
}

.identite a:link,
.identite a:visited {
    text-decoration: none;
    color: white;
}

.intro {
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.35);

    padding: 15px;
    margin-top: 30px;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.intro p {
    /* supprime les espaces top et bottom par defaut du <p> */
    display: inline;
}

/* >------ VOLET LATERAL  ------ */


/* <------ HEADER ------ */



/* NOTE: Header version mobile placé avant la photo*/
.header-mobile {
    margin-bottom: 35px;
    display: none;
}

h2 {
    margin: 0;
}

.title {
    margin-left: 100px;
}

.title h3 {
    font-weight: 400;
    margin-bottom: 10px;
}


.name {
    font-size: 60px;
    color: #F1A65B;
}

.job {
    font-size: 60px;
    font-weight: 300;
}

.name-mob {
    font-size: 28px;
    color: white;
    margin-bottom: 8px;
}

.job-mob {
    font-size: 28px;
    font-weight: 300;
}


.separateur {
    height: 3px;
    width: 540px;
    background: #F1A65B;

    margin: 50px 0 50px 100px;
}

/* >------ HEADER ------ */

/* <------ MAIN --- */

main {
    margin: 30px;
}

/*NOTE: espaces entre articles*/
article {
    margin-bottom: 50px;
}

.filet-horizontal {
    width: 15px;
    height: 3px;
    background-color: #9C9C9C;
    position: absolute;
    left: -20px;
    top: 9px;
}

#experience,
#formations,
#outils,
#loisirs,
#divers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 100px;
}

/*  <------  XP / FORMATIONS  --- */

.title-article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    position: relative;
}

.title-article h3 {
    color: #000;
    font-size: 35px;
    font-weight: 300;
    margin: 15px 0 30px 0;
}

.picto {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    width: 60px;
    left: -75px;
    top: 15px
}

.cercle {
    position: absolute;
    width: 60px;
    height: 60px;

    background-color: #F1A65B;

    border-radius: 50%;

    z-index: 1;
}

/*  NOTE: Attribution des couleurs dégraddées à chaque cerlcle picto*/
.c1 {
    background-color: #F1A75A;
}

.c2 {
    background-color: #F09B5B;
}

.c3 {
    background-color: #F08F5C;
}

.c4 {
    background-color: #F0835D;
}

.c5 {
    background-color: #F0775F;
}


/* NOTE: Picto Font Awesome toujours au dessus du cercle*/
.fa {
    z-index: 2;
    color: white;
}

/*NOTE:  Pictos > alternative avec fichiers images svg*/
.picto img {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.xp,
.formation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
}

/*FIXME Mettre fond transparent ou supprimer*/
/*
.xp:nth-child(2) {
    background-color: #1182A2;
    padding: 5px;
}
*/

.year {
    position: absolute;
    left: -63px;
    color: black;
}

/* NOTE: met le "2004 2020" sur 2 lignes (width)*/
#formations section:nth-child(3) .year {
    width: 50px;
}

.poste,
.diplome {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #F0755F;
}

.diplome strong {
    font-weight: 700;
}

.groupe-ypt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    position: relative;
}

.time {
    display: inline;
    color: black;
    padding: 4px 8px 4px 8px;
    margin-left: 15px;
    background: #F1A75A;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;

    position: relative;
    bottom: 3px;
}

.compagny,
.school {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.city {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.tasks {
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    color: #9C9C9C;

    margin: 10px 0 15px 0;
}

/*  >------  XP / FORMATIONS  --- */

/*  <------  OUTILS  --- */

.all-app {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.cat {
    margin: 0 10px 0 0;
}

.tools-title {
    background-color: #1182A2;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding: 6px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;

    margin-bottom: 6px;
}

.apps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    /* HACK  pour espace entre items sans espace sur extrémité  */
    margin: 0 -5px;
    margin-bottom: 20px;
}

.apps img {
    /* HACK */
    margin: 0 5px;
}

/*  >------  OUTILS  --- */

/*  <------  LOISIRS  --- */

.hobbies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    /* HACK */
    margin: 0 -5px;

}

.hobby {
    /* HACK */
    margin: 0 5px;
    margin-bottom: 20px;
}

.hobby-name {
    text-align: center;
    margin-top: 4px;
}

/*  >------  LOISIRS  --- */

/*  <------  DIVERS  --- */

.misc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.language {
    display: flex;
    margin-right: 40px;
    margin-bottom: 20px;
}

.language-name {
    width: 90px;
    text-align: center;
    font-weight: 300;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
}

.language-name strong {
    font-size: 35px;
}

/* >------  DIVERS  --- */

/* >------ MAIN --- */


/* <------  MEDIA QUERIES ----*/

/* Destop */

@media all and (min-width: 1024px) {
    .filet-vertical {
        display: block;
    }

    .identite a:hover {
        background-color: #1182A2;

        border-radius: 6px;

        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    /*NOTE: Hover off */
    .identite a {
        background-color: transparent;

        -webkit-transition: background 0.5s ease;
        -moz-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
        -o-transition: background 0.5s ease;
        transition: background 0.5s ease;
    }

    aside img {
        width: 250px;
    }

    .picto {
        display: inherit;
    }

}

/* Tablette */

@media all and (max-width: 1024px) {
    main {
        margin: 20px;
    }

    aside {
        width: 300px;
        padding: 20px;
    }

    aside img {
        width: 200px;
    }


    .identite {
        font-size: 22px;
    }

    .identite p:last-child {
        font-size: 15px;
    }

    .year {
        left: -63px;
    }
}

/* Mobile */

@media all and (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }

    .header-mobile {
        margin-bottom: 35px;
        display: block;
    }

    .filet-vertical {
        display: none;
    }

    .filet-horizontal {
        display: none;
    }

    aside {
        width: 100%;
        display: flex;
        align-items: center;
    }

    header {
        display: none;
    }

    main {
        margin: 5px;
    }

    .picto {
        display: none;
    }

    .year {
        left: -50px;
    }

    #experience,
    #formations,
    #outils,
    #loisirs,
    #divers {
        margin-left: 60px;
    }
}
